@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $primary-color;

.sideNavContainer{
  width: 20%;
  height: 100%;
  position: fixed;

  .closed {width: 0px !important;}
  .sideNav{
    float: left;
    width: 90%;
    background-color: $secondary-color;
    overflow: auto;
    color: white;
    height: 100%;
      transition: 0.5s ease-in;
      transition: 0.5s ease-out;

    .childItem {
      background-color: $secondary-color * 1.2;
      height: 50px;
      padding-left: 30px;
      
    }

    .hideChild{
      height: 0px;
      visibility: hidden;      

      span {
        visibility: hidden;
      }
    }

    ul {
    list-style: none;
    padding: 0;
    }
  
 li {
      border-bottom: 1px solid $secondary-color * 1.5;
      height: 50px;
      line-height: 50px;
      padding-left: 15px;
      transition: 0.5s ease-in;
      transition: 0.5s ease-out;
      cursor: pointer;

      &:hover{
        background-color:  $secondary-color * 1.5;
      }

    }
}
   
    .toggleNavButton {
    margin-top: 50%;
    float: left;
    width: 20px;
    background-color: $secondary-color * 1.2;
    height: 50px;
    cursor: pointer;
    }



  }



}

