$primary-color: #edf0f4;
$secondary-color: #224884;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $primary-color;

    .header{
    width: 100%;
    height: 50px; 
    background-color: $secondary-color;
    
        .companyName{
        float: left; 
        line-height: 50px;
        margin-left: 10px;
        font-weight: 600;
        color: $primary-color;  
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            float: right;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: $primary-color;
            text-align: center;
            padding: 14.5px 16px;
            text-decoration: none;
        }

        li:hover {
            background-color: #2e333a;
        }

       li:hover a{       
            color: #2e333a;
            background-color: $primary-color;
        }
    }    
}

