body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
  width: 100%;
  height: 50px; 
  background-color: #2e333a;
}

.header .companyName{
  float: left; 
  line-height: 50px;
  margin-left: 10px;
  color: floralwhite;  
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none !important;
}

.header li:hover {
    background-color: #2e333a;
}

.header li:hover a{       
    color: #2e333a !important;
    background-color: white;
}


